@model Book
<h2>@Model.Title</h2>
<p>@Model.Author.FirstName @Model.Author.LastName</p>
<p>@Model.Genre</p>
<p>@Model.PublishDate.ToShortDateString()</p>
<p>ISBN: @Model.ISBN</p>
<p>Copies Available: @Model.CopiesAvailable</p>
